{
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 4,
	"arrowParens": "avoid",
	"jsxBracketSameLine": true,
	"bracketSameLine": true,
	"printWidth": 100,
	"quoteProps": "consistent",
	"importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
	"importOrderSeparation": false,
	"experimentalBabelParserPluginsList": [
		"jsx",
		"typescript"
	]
}
